<div *ngIf="attribute">
    <img id="head" class="svg-layers" src="../../assets/img/head.svg">
    <img id="flag" class="svg-layers" src="../../assets/img/flag.svg">
    <img id="shoulders" class="svg-layers" src="../../assets/img/shoulders.svg">
    <img id="bow" class="svg-layers" src="../../assets/img/bow.svg">
    <img id="arm" class="svg-layers" src="../../assets/img/arm.svg">
    <img id="sword" class="svg-layers" src="../../assets/img/sword.svg">
    <img id="foot" class="svg-layers" src="../../assets/img/foot.svg">
    <img id="full-harnas" class="svg-layers" src="../../assets/img/full-harnas.svg">
</div>
    
    
