/* Application-wide Styles */
  html {
    height: 100%;
  }
  body {
    margin: 0;
    background-image: url(assets/img/paper-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia;
  }
h1 {
    color: #333;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 250%;
    margin: 1.5rem auto 0 !important;
    text-align: center;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }