#samoerai-bg {
 position: absolute;
 width: 100%;
}

// footer buttons
.attributes {
    margin: 1rem 1rem;
    list-style-type: none;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .attributes li {
    cursor: pointer;
    position: relative;
    background: #5a5a5a33;
    border-radius: 4px;
    margin: 0.1rem 0.2rem;
    padding: 0.2rem 0.5rem;
    text-align: center;
    font-size: 0.9em;
  }
  .attributes li:hover {
    background-color: #CFD8DC;
    left: .1em;
  }
  .attributes li.selected {
    background-color: rgba(221, 221, 221, 0.568);
    color: white;
  }
  .attributes li.selected:hover {
    background-color: rgb(184, 184, 184);
    color: white;
  }

  #details-container {
      margin: 2rem 3em;
      padding: 1rem;
      background: #5a5a5a33;
      border-radius: 0.5rem;
      height: 80vh;
      color: rgb(241, 241, 241);
  }